---
import { getPublishedPosts, postUrl } from '@/lib/posts';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Link from '@/components/Link.astro';
import Tag from '@/components/Tag.astro';
import DateTime from '@/components/DateTime.astro';

const posts = await getPublishedPosts();
---

<BaseLayout title="Christopher Vaillancourt" class="posts">
  <h1>Posts</h1>
  <ul>
    {
      posts.map(({ slug, data: { title, summary, added, tags } }) => (
        <li>
          <Link class="post-link" href={postUrl(slug)} target="_self">
            <h3>{title}</h3>
            {summary && <p>{summary}</p>}
            <div class="post-metadata">
              <DateTime datetime={added} class="post-date" />
              {tags?.map((tag) => (
                <Tag>{tag}</Tag>
              ))}
            </div>
          </Link>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul,
  li {
    padding: 0;
    margin-block-end: var(--size-7);
  }
  h3,
  p {
    margin-block-end: var(--size-2);
  }
  .post-link {
    margin: 0;
    padding: 0;
  }
  .post-metadata {
    font-size: var(--font-size-1);
    font-family: var(--font-mono);
    display: flex;
    gap: var(--size-2);
  }
  .post-date {
    color: var(--text-2);
    /* 
      Set consistent width so the tags always align horizontally.
      10ch matches the max number of expected characters.
    */
    width: 10ch;
  }
</style>
