---
import PageLayout from '@/layouts/Base';
import Heading from '@/components/Heading';
import Link from '@/components/Link';
import { getUniqueTagsWithCount } from '@/utils';
import { getPostsCollection } from '@/lib/post';

const allPosts = await getPostsCollection();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	title: 'All Tags',
	description: 'All Tags from my blogs',
};
---

<PageLayout meta={meta}>
	<Heading level="1">Tags</Heading>
	<ul class="space-y-4">
		{
			Object.entries(allTags).map(([tag, count]) => (
				<li class="flex items-center gap-x-2">
					<Link
						href={`/tags/${tag}/`}
						title={`View posts with the tag: ${tag}`}
						rel="prefetch"
					>
						&#35;{tag}
					</Link>
					<span>
						- {count} Post{count > 1 && 's'}
					</span>
				</li>
			))
		}
	</ul>
</PageLayout>
