---
import { uuid } from '../lib/string';

export interface Props extends astroHTML.JSX.SVGAttributes {
  width?: string | number;
  height?: string | number;
  name: string;
  path: string;
  color?: string;
}
const defaultSize = 24;
const {
  width = defaultSize,
  height = defaultSize,
  name,
  path,
  color = 'currentColor',
  class: _class,
  ...attrs
} = Astro.props;
const viewBox = `0 0 ${width} ${height}`;
const id = `${name}-${uuid()}`;

const classes = ['svg', _class];
---

<svg
  class:list={classes}
  xmlns="http://www.w3.org/2000/svg"
  viewBox={viewBox}
  width={width}
  height={height}
  aria-labelledby="id"
  role="presentation"
  {...attrs}
>
  <title id={id} lang="en">{name} icon</title>
  <g fill={color}>
    <path d={path}></path>
  </g>
</svg>
