---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
	primary?: boolean;
	secondary?: boolean;
	/** Remove underline text decoration.  */
	'no-underline'?: boolean;
	'hover-underline'?: boolean;
	badge?: boolean;
	/** Make the link appear as a success badge. */
	'badge-success'?: boolean;
	/**
	 * Load the link before navigating.
	 */
	prefetch?: boolean;
}

const {
	href = '#',
	target,
	rel,
	class: className,
	primary,
	secondary,
	'no-underline': noUnderline,
	'hover-underline': hoverUnderline,
	badge,
	'badge-success': badgeSuccess,
	prefetch: prefetch = true,
	...attrs
} = Astro.props;

const _target = createTarget(target, href);
const _rel = createRel(rel);

type ClassObj = Record<string, string | null | undefined | boolean>;
type Classes = (string | ClassObj)[];

const classes = [
	'link',
	{
		'link-primary': primary,
		'link-hover': hoverUnderline,
		'link-secondary': secondary,
		badge: badge || badgeSuccess,
		'badge-success': badgeSuccess,
		// TODO refactor adding className;
		// removeLinkKeys() has extra logic to remove the empty string which is leaky
		[className ?? '']: className,
	},
].reduce<Classes>((accum, curr) => {
	if (!noUnderline) {
		// keep classes as is
		accum.push(curr);
		return accum;
	}
	if (typeof curr == 'string' && !isLinkClass(curr)) accum.push(curr);
	else if (typeof curr == 'object') accum.push(removeLinkKeys(curr));
	return accum;
}, []);
/** Create a new object with link keys removed. */
function removeLinkKeys(clsObj: ClassObj): ClassObj {
	return Object.entries(clsObj).reduce<ClassObj>((accum, curr) => {
		const [key, val] = curr;
		const keyIsLinkClass = isLinkClass(key);

		if (!keyIsLinkClass && key !== '') accum[key] = val;
		return accum;
	}, {});
}

/** Check if a class string is prefixed with `'link'`. */
function isLinkClass(clsStr: string): boolean {
	const linkClsPrefix = 'link';
	return clsStr.startsWith(linkClsPrefix);
}
function createRel(rel?: string | null | undefined): string {
	const defaultRel = 'noreferrer';

	if (!rel || rel.trim() === '') rel = defaultRel;
	rel = rel.trim();

	return [rel]
		.filter((option) => Boolean(option) && option.trim() !== '')
		.join(' ');
}

type Href = Pick<HTMLAttributes<'a'>, 'href'>['href'];

function createTarget(target: string | null | undefined, url: Href) {
	// if target provided, use it
	if (target) return target;
	// use same browser context for internal links
	// otherwise, open in a new tab
	const defaultTarget = '_blank';
	const internalTarget = '_self';

	if (isInternalUrl(url)) return internalTarget;

	return defaultTarget;

	function isInternalUrl(url: Href) {
		if (!url) return false;
		if (url instanceof URL) url = url.href;
		return url.startsWith('/') || url.startsWith('#');
	}
}
---

<a
	href={href}
	target={_target}
	rel={_rel}
	class:list={classes}
	data-astro-prefetch={prefetch}
	{...attrs}
>
	<slot />
</a>
