---
import { SOCIAL_LINKS } from '@/data/constants';
import Icon from '@/components/Icon';
import Link from '@/components/Link';
import { github, linkedIn } from '@/lib/icons';
const linkClass = 'no-underline';
---

<div class="flex flex-wrap items-center gap-x-4">
	<slot name="prefix" />
	<ul class="flex flex-1 list-none items-center gap-x-4 sm:flex-initial">
		<li>
			<Link primary class={linkClass} href={SOCIAL_LINKS.github}>
				<Icon name="Chris Vaillancourt's GitHub Profile" path={github} />
			</Link>
		</li>
		<li>
			<Link
				primary
				class={linkClass}
				href="https://www.linkedin.com/in/chrisdvaillancourt"
			>
				<Icon name="Chris Vaillancourt's LinkedIn Profile" path={linkedIn} />
			</Link>
		</li>
	</ul>
</div>
