---
import { getFormattedDate } from '@/lib/date';
import type { PostCollectionEntry } from '@/types';
import Link from '@/components/Link';
import Icon from '@/components/Icon';
import Heading from '@/components/Heading';
import { tagMultiple } from '@/lib/icons';

interface Props {
	content: PostCollectionEntry;
}

const { content } = Astro.props;

const datetime = content.data.publishDate.toISOString();
const postDate = getFormattedDate(content.data.publishDate, { month: 'long' });
---

<Heading level="1" class="mb-3 sm:mb-1">{content.data.title}</Heading>
<time datetime={datetime}>{postDate}</time>
{
	!!content.data.tags?.length && (
		<div class="mt-1 sm:mt-0 sm:inline sm:before:mx-2 sm:before:content-['|']">
			<Icon
				name="tags"
				aria-hidden="true"
				focusable="false"
				class="me-1 inline-block h-6 w-6"
				path={tagMultiple}
			/>
			{content.data.tags.map((tag, i) => (
				<>
					<Link
						class="inline-block before:content-['#']"
						aria-label={`View more blogs with the tag ${tag}`}
						href={`/tags/${tag}/`}
					>
						{tag}
					</Link>
					{i < content.data.tags.length - 1 && ', '}
				</>
			))}
		</div>
	)
}
<p class="mt-8">{content.data.description}</p>
