---
import { getFormattedDate } from '@/lib/date';
import type { PostCollectionEntry } from '@/types';
import BlogTags from './BlogTags.astro';
import Icon from '@/components/Icon';
import Heading from '@/components/Heading';
import { tagMultiple } from '@/lib/icons';

interface Props {
	content: PostCollectionEntry;
}

const {
	content: {
		data: { publishDate, title, tags, description },
	},
} = Astro.props;

const datetime = publishDate.toISOString();
const postDate = getFormattedDate(publishDate, { month: 'long' });
---

<Heading level="1" class="mb-3 sm:mb-1">{title}</Heading>
<time datetime={datetime}>{postDate}</time>
{
	!!tags?.length && (
		<div class="mt-1 sm:mt-0 sm:inline sm:before:mx-2 sm:before:content-['|']">
			<Icon
				name="tags"
				aria-hidden="true"
				focusable="false"
				class="me-1 inline-block h-6 w-6"
				path={tagMultiple}
			/>
			<BlogTags tags={tags} />
		</div>
	)
}
<p class="mt-8">{description}</p>
