---
import type { SiteMeta } from '@/types';
import BaseHead from '@/components/BaseHead';
import Header from '@/components/layout/Header';
import Footer from '@/components/layout/Footer';
import SkipLink from '@/components/SkipLink';
import ThemeProvider from '@/components/ThemeProvider';
import { siteConfig } from '@/site.config';
import { DARK_THEME_NAME } from '@/lib/theme';

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<html lang={siteConfig.lang} data-theme={DARK_THEME_NAME}>
	<head>
		<BaseHead
			title={title}
			description={description}
			ogImage={ogImage}
			articleDate={articleDate}
		/>
	</head>
	<body>
		<ThemeProvider />
		<SkipLink />
		<Header>
			<Fragment slot="title">Chris Vaillancourt</Fragment>
		</Header>
		<main id="main" class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
