---
import type { PostCollectionEntry } from '@/types';
import BaseLayout from '@/layouts/Base';
import Link from '@/components/Link';
import BlogHero from '@/components/blog/Hero';
import BtnToTop from '@/components/BtnToTop';

interface Props {
	post: PostCollectionEntry;
}

const { post } = Astro.props;
const {
	data: { title, description, ogImage, publishDate },
	slug,
} = post;
const socialImage = ogImage ?? `/og-image/${slug}.png`;
const articleDate = publishDate.toISOString();
const { headings } = await post.render();
---

<BaseLayout meta={{ title, description, articleDate, ogImage: socialImage }}>
	<div class="gap-x-10 lg:flex lg:items-start">
		{
			!!headings.length && (
				<aside class="sticky top-20 order-2 -me-32 hidden basis-64 lg:block">
					<h2 class="font-semibold">Table of Contents</h2>
					<ul class="mt-4 text-xs">
						{headings.map(({ depth, slug, text }) => (
							<li class="line-clamp-2 hover:text-accent">
								<Link
									no-underline
									class={`block ${
										depth <= 2 ? 'mt-3' : 'mt-2 ps-3 text-[0.6875rem]'
									}`}
									href={`#${slug}`}
									aria-label={`Scroll to section: ${text}`}
								>
									<span class="mr-1">{'#'.repeat(depth)}</span>
									{text}
								</Link>
							</li>
						))}
					</ul>
				</aside>
			)
		}
		<article class="flex-grow break-words">
			<div id="blog-hero"><BlogHero content={post} /></div>
			<div
				class="prose-sm prose mt-12 prose-headings:font-semibold prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none prose-code:p-0"
			>
				<slot />
			</div>
		</article>
	</div>
	<BtnToTop selector="#blog-hero" />
</BaseLayout>
