---
import BaseLayout from './BaseLayout.astro';
import type { BlogPost } from '@/types';
import DateTime from '@/components/DateTime.astro';
import Tag from '@/components/Tag.astro';

interface Props {
  post: BlogPost;
}

const {
  post: {
    data: { title, summary, added, updated, tags },
  },
} = Astro.props;

const isTagged = tags && tags.filter(Boolean).length > 0;
---

<BaseLayout title={title}>
  <header>
    <h1>{title}</h1>
    {
      added && (
        <p class:list={[{ 'post-added': Boolean(updated) }]}>
          Added: <DateTime datetime={added} />
        </p>
      )
    }
    {
      updated && (
        <p class="post-updated">
          Updated: <DateTime datetime={updated} />
        </p>
      )
    }

    {
      isTagged && (
        <p>
          {tags.map((tag) => (
            <Tag>{tag}</Tag>
          ))}
        </p>
      )
    }
    {summary && <p>TLDR: {summary}</p>}
  </header>
  <slot />
</BaseLayout>

<style>
  .post-added {
    margin-block-end: 0;
  }
  :where(header > p) {
    margin-block-end: var(--size-1);
  }
</style>
